.container {
  max-width: 100%;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}

.card {
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card-body {
  /* flex: 1 1 auto; */
  min-height: 1px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.info-field {
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.label {
  flex: 0 0 10em;
}

.info {
  flex: 1 0 0;
  min-width: 0;
  user-select: all;
}

.edit {
  user-select: text;
}

.edit input {
  border: none;
  border-bottom: 2px solid rgba(57, 173, 250, 0.932);
  padding-left: 0.4em;
  padding-top: 0.3em;
  font-size: inherit;
}

.edit input:focus {
  outline: none;
  background-color: rgba(57, 173, 250, 0.103);
}

.btn {
  padding: 0.33em 1.27em;
  border-radius: 0;
  background-color: rgba(18, 168, 214, 0.719);
  border: solid 1.5px rgb(4, 40, 44);
  cursor: pointer;
  margin-left: 1em;
}

.btn:hover {
  background-color: rgba(78, 212, 253, 0.582);
  transition: all 300ms ease;
}
