.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputs label {
  font-weight: 350;
  color: var(--text-color);
}

.inputs input,
.select {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: var(--input-bg-color);
  border: none;
  outline: none;
  border-radius: 0.25em;
  font-weight: 500;
  color: black;
}

.inputs.success input {
  box-shadow: 0 0 5px 1px var(--success-color);
}

.inputs.error input {
  box-shadow: 0 0 5px 1px var(--error-color);
}

.inputs input:focus {
  box-shadow: 0 0 5px 1px var(--focus-color);
}

.btn {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--btn-color);
  border: 1px solid var(--focus-color);
  border-radius: 0.2em;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-focus-color);
  transition: var(--transition);
}

.schedule {
  display: flex;
  justify-content: space-between;
}

.schedule .inputs input:focus {
  box-shadow: none;
}
