.container {
  display: flex;
  min-width: 400px;
  width: 30vw;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
  padding-bottom: 90px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputs label {
  font-weight: 350;
  color: var(--text-color);
}

.inputs input,
.select {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: var(--input-bg-color);
  border: none;
  outline: none;
  border-radius: 0.25em;
  font-weight: 500;
  color: black;
}

.inputs.success input {
  box-shadow: 0 0 5px 1px var(--success-color);
}

.inputs.error input {
  box-shadow: 0 0 5px 1px var(--error-color);
}

.inputs input:focus {
  box-shadow: 0 0 5px 1px var(--focus-color);
}

.btn {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: rgba(32, 97, 218, 0.493);
  border: 1px solid var(--focus-color);
  border-radius: 0.2em;
  outline: none;
  cursor: pointer;
  width: min(30%, 70vw);
  align-self: center;
}

.btn:hover {
  background-color: rgba(55, 113, 221, 0.445);
  transition: var(--transition);
}

.schedule {
  display: flex;
  justify-content: space-around;
}

.schedule .inputs input:focus {
  box-shadow: none;
}
