:root {
  --bg-color: rgba(238, 238, 238, 0.438);
  --input-bg-color: rgba(190, 190, 190, 0.514);
  --text-color: rgb(0, 0, 0);
  --title-color: rgba(255, 255, 255, 0.4);
  --focus-color: rgba(1, 65, 102, 0.781);
  --success-color: rgba(87, 243, 14, 0.425);
  --error-color: rgba(216, 21, 21, 0.459);
  --btn-color: rgba(32, 33, 78, 0.253);
  --btn-focus-color: rgba(46, 218, 248, 0.226);
}

.content {
  background-color: var(--bg-color);
  box-shadow: 0 0 15px 5px var(--bg-color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.link {
  all: unset;
  cursor: pointer;
  font-weight: 400;
}

.link:hover,
.link:active,
.link:focus {
  color: white;
  transition: var(--transition);
}
